[2019-04-17 16:19] iliakan opened #1 "Ukrainian Translation Progress"
## Maintainer List

@tarasyyyk

## For New Translators

<details><summary><b>Please read this first (click to open)</b></summary>
<p>
To translate an article:

1. Check that no one else has claimed your article in the checklist below.
2. Comment below with the title of the article that you would like to translate, exactly as listed, e.g. `An Introduction to JavaScript`.
    - Please take only one

[2019-04-22 19:26] dDenysS opened #3 "Translate:JavaScript Fundamentals::Hello, world!::Code structure"
Translation for: 02-first-steps -> **01-hello-world**, **02-structure**

[2019-04-22 19:53] dDenysS commented on #3
Why has "An introduction' is translated?

[2019-04-22 20:06] tarasyyyk commented on #3
@dDenysS not only "Introductions" had been translated but also "Code editors" and "Devtools".
Thanks for your remark. I checked completed articles.

[2019-04-23 19:01] tarasyyyk opened #4 "Translate: 1-02-03-strict-mode"

[2019-04-23 19:38] #4 closed

[2019-04-24 18:02] tarasyyyk commented on #3
@dDenysS how is going with translation?

[2019-04-24 18:15] dDenysS commented on #3
@tarasyyyk [commit](https://github.com/dDenysS/uk.javascript.info/commit/357f56bfef5d0a5f405edad65c24bf54b21b1788). I have little time. I think, I will translate small parts evere day next week

[2019-05-01 10:12] tarasyyyk commented on #3
@dDenysS please, pull changes from master branch to sync last changes: https://github.com/javascript-tutorial/uk.javascript.info/pull/6/files#diff-80dd12d7fdb9adcfd831b2a4af1a33dd

[2019-05-01 10:21] tarasyyyk opened #7 "Translation: JavaScript Fundamentals > Variables"
Started translation.
Path in repo: 1-js/02-first-steps/04-variables

[2019-05-01 16:44] dDenysS commented on #3
@tarasyyyk I have just updated the code. [last changes](https://github.com/dDenysS/uk.javascript.info/commit/9f71bf9cd52cad508b2770dad1140ba45a0a21fb)

[2019-05-07 09:39] stevermeister commented on #1
I'll take JavaScript Fundamentals > Variables

[2019-05-07 09:42] Zim123 commented on #1
And I'd like to take "JavaScript Fundamentals > Hello, world!" but waiting for permissions to the repository. Have already created an issue https://github.com/javascript-tutorial/translate/issues/9 (as it described in the documentation), but still nothing

[2019-05-07 10:00] tarasyyyk commented on #1
This article already translating by another contributor: #3
Please, choose another article. Thanks!

[2019-05-07 10:07] stevermeister commented on #1
@tarasyyyk you've just broke my motivation to translate anything.

RTFM - https://github.com/javascript-tutorial/uk.javascript.info

[2019-05-07 10:07] tarasyyyk commented on #1
I started translating of this article here: #7
Nonetheless, you can translate these chapters if you wish:
[code]

[2019-05-07 10:20] tarasyyyk commented on #3
@dDenysS Are you going to also translate the section "JavaScript Fundamentals > **Code structure**" as well?

[2019-05-07 11:00] tarasyyyk commented on #1
@stevermeister sorry, my bad.
I updated comment above with corresponding links to issues.

[2019-05-07 11:28] Zim123 commented on #1
@tarasyyyk
I see, ok, I'm taking "JavaScript Fundamentals > Data types"

[2019-05-07 12:25] tarasyyyk opened #8 "Glossary (Глосарій)"
Слово "app" (application) вважаю за краще перекладати як "[**застосунок**](http://onlinecorrector.com.ua/застосунок-програма)"

[2019-05-07 15:11] stevermeister commented on #1
ok, I'll take
Data types > Methods of primitives

[2019-05-07 19:10] Zim123 opened #9 "Translation: JavaScript Fundamentals > Data types"

[2019-05-08 04:39] Zim123 commented on #1
@iliakan @tarasyyyk
Hello guys.
I wanted to save some translation progress by pushing my branch to repo. It asked me to enter my login/password, even I had set up my ssh key though. I entered and got next error:

Password for 'https://zim123@github.com':
remote: Permission to javascript-tutorial/uk.javascript.info.git denied to Zim123.
fatal: unable to access 'https://github.com/javascript-tutoria

[2019-05-08 08:59] tarasyyyk commented on #1
Hi @Zim123. You can fork this repo and then make pull request with your changes from your forked repo to this one.

[2019-05-09 14:42] tarasyyyk commented on #8
`Summary` => **Підсумки**

[2019-05-10 17:56] tarasyyyk commented on #8
`Chapter` => **Розділ**

[2019-05-10 19:29] Zim123 commented on #1
@tarasyyyk
I'm ready to proceed further: JavaScript Fundamentals -> Type Conversions

[2019-05-10 19:39] tarasyyyk commented on #1
@Zim123 ok. I'll assign it to you in comment.

[2019-05-10 19:40] tarasyyyk commented on #9
Translated in #12.

[2019-05-10 19:40] #9 closed

[2019-05-10 19:47] Zim123 opened #13 "Translation: JavaScript Fundamentals > Type Conversions"

[2019-05-10 19:48] tarasyyyk commented on #1
@iliakan is it good for you always receive notifications when I change your comment?
Maybe I should create my own comment with Progress Status.

[2019-05-13 11:29] tarasyyyk commented on #13
Translated in #15.

[2019-05-13 11:29] #13 closed

[2019-05-13 11:39] tarasyyyk commented on #7
Translated in #14.

[2019-05-13 11:39] #7 closed

[2019-05-13 11:40] tarasyyyk commented on #3
@dDenysS how is going with translation?

[2019-05-13 18:48] Zim123 commented on #1
@tarasyyyk
May I :)
JavaScript Fundamentals > Operators

[2019-05-13 18:56] tarasyyyk commented on #1
@Zim123 yes, sure! :)
Create an issue so I can mark it in comment above.
Thanks for your contribution!

[2019-05-13 19:07] Zim123 opened #16 "Translation: JavaScript Fundamentals > Operators"

[2019-05-13 19:59] tarasyyyk opened #17 "Translation: JavaScript Fundamentals > Comparisons"
Translation in progress: #18

[2019-05-15 19:13] tarasyyyk commented on #17
Translation merged in PR #18.

[2019-05-15 19:13] #17 closed

[2019-05-23 12:35] iliakan commented on #1
Issue solved?

[2019-05-23 12:37] tarasyyyk commented on #1
@iliakan what issue did you mean?

[2019-05-23 12:38] iliakan commented on #1
I mean, the question of @Zim123

[2019-05-23 12:40] tarasyyyk commented on #16
@Zim123 How is going with translation?

[2019-05-23 12:41] tarasyyyk commented on #1
@iliakan issue (https://github.com/javascript-tutorial/uk.javascript.info/issues/16) created but not yet resolved

[2019-05-23 12:42] Zim123 commented on #1
@iliakan
I'm not sure what exact issue you're talking about. But all is fine so far. The translation is of Operators article is in progress :)

[2019-05-23 12:44] Zim123 commented on #16
Good so far.
I'm not sure if I should have created a pull request once I started translation to give you an ability to follow the progress?

Because, as you've seen, usually I make PR once I've ended the translation.

[2019-05-25 09:13] Zim123 opened #20 "Translation: JavaScript Fundamentals > Interaction: alert, prompt, confirm"

[2019-05-25 12:35] tarasyyyk commented on #8
`Assignment` => **Присвоєння**

[2019-05-25 12:36] tarasyyyk commented on #16
Translated in #19.

[2019-05-25 12:36] #16 closed

[2019-05-31 20:34] tarasyyyk commented on #20
Translated in #23.

[2019-05-31 20:34] #20 closed

[2019-05-31 21:23] Zim123 opened #24 "Translation: JavaScript Fundamentals > Conditional operators: if, '?'"

[2019-06-03 19:39] tarasyyyk commented on #3
Translated "**Code structure**" in PR #25.

[2019-06-05 17:58] tarasyyyk commented on #3
Translated "**Hello, world**" in commit https://github.com/javascript-tutorial/uk.javascript.info/commit/a79419ea7d64f5c4ab3e26226ebc5bdb466b16c2.
Translation text moved from source commits in forked repository: https://github.com/javascript-tutorial/uk.javascript.info/commit/357f56bfef5d0a5f405edad65c24bf54b21b1788 and https://github.com/javascript-tutorial/uk.javascript.info/commit/9f71bf9cd52ca

[2019-06-05 18:01] #3 closed

[2019-06-05 18:01] tarasyyyk commented on #8
`Tutorial` => **Посібник**

[2019-06-05 19:26] dDenysS commented on #3
@tarasyyyk Thank you for your message.  I will continue to translate tomorrow

[2019-06-05 19:28] tarasyyyk commented on #3
No need, @dDenysS . These chapters already translated. Thank you for your work!

[2019-06-13 09:52] tarasyyyk commented on #24
Translated in PR #28.

[2019-06-13 09:52] #24 closed

[2019-06-13 10:11] Zim123 opened #29 "Translation: JavaScript Fundamentals > Logical operators"
@tarasyyyk ready to take the next one :)
Unfortunately, this translation will not be so fast, as I have a vacation next week for about 10 days.

[2019-07-15 11:39] UkrainianCitizen commented on #8
Цей глосарій потрібно доповнювати, великої кількості слів тут немає. Наприклад, я бачив, що `statements`перекладали тут як `інструкції`. Я не впевнений, що це гарний переклад, проте цього слова тут немає. Потрібно, щоб перекладачі погоджували слова перж ніж перекладати і щоб всі погоджені слова потрапляли сюди.

[2019-07-15 13:00] tarasyyyk commented on #8
@UkrainianCitizen так, Ви праві. Я намагаюся додавати всі такі не зовсім однозначні слова до Глосарію, і виправляю пул реквести згідно слів із Глосарію. Слово `statement` переклав відповідно до [російського варіанту](https://github.com/javascript-tutorial/ru.javascript.info/blob/master/1-js/02-first-steps/02-structure/article.md), проте є й інший переклад як "[команди](https://learn.javascript.ru/

[2019-07-16 17:34] tarasyyyk commented on #29
Translated in PR #34.
Thanks @Zim123 for translation!

[2019-07-16 17:34] #29 closed

[2019-07-16 22:28] hypeofpipe commented on #1
Hello! Can I take something?

[2019-07-17 08:21] tarasyyyk commented on #1
@hypeofpipe yes, sure. You can take any untranslated items you want.
I would recommend you to take `The "switch" statement`, because `Loops: while and for` is very long.
Just read README in this repo, create [an issue like these](https://github.com/javascript-tutorial/uk.javascript.info/issues?q=is%3Aissue+is%3Aclosed), and start translating.

[2019-07-21 11:46] dDenysS commented on #1
Hello. Я will take JavaScript Fundamentals >Loops: while and for.  Should the `smart header`  be translated?

[2019-07-21 11:52] iliakan commented on #1
@dDenysS header content - yes.

[2019-07-22 13:24] tarasyyyk commented on #8
`backtick` => **Зворотний апостроф**

Символ зворотного апострофа: ``` ` ```.
Приклад використання в перекладі:
```console.log(`Привіт, ${userName}!`)```

[2019-07-22 13:31] tarasyyyk commented on #8
Опитування щодо слова `statement`. В контексті "частина JavaScript коду, який буде виконуватися на сторінці".
Наприклад:
[code]

/polls 'конструкція', 'інструкція', 'вираз', 'команда'

[2019-07-22 13:31] tarasyyyk commented on #8
/polls 'конструкція', 'інструкція', 'вираз', 'команда'

[2019-07-22 13:38] tarasyyyk opened #36 "Слово "statement""
Вибираємо кращий переклад слова `statement`. В контексті "частина JavaScript коду, який буде виконуватися на сторінці".
Наприклад:
[code]
Варіанти:

- **конструкція**. Використовується в [MDN](https://developer.mozilla.org/uk/docs/Learn/Getting_started_with_the_web/JavaScript_basics#Умови). Мені подобається цей варіант.
- **інструкція**. Поточний переклад. Використовується в [російській версії](ht

[2019-07-22 13:38] tarasyyyk commented on #8
/polls Option1 'Option 2' "Option 3"

[2019-07-22 14:04] tarasyyyk commented on #36
Опитування триває до 1 жовтня 2019 року.
Нові варіанти перекладу пропонуйте в цьому issue.

[2019-07-22 14:46] Zim123 commented on #36
Взагалі, на мою думку, і "вираз" і "конструкція" гарні варіанти, в одному випадку один добре пасує, в іншому — другий. У прикладі вище, як на мене, то "вираз" краще підходить, але "конструкція" також валідний варіант. Чи не можно використовувати обидва варіанти, в залежності від контексту?

[2019-07-22 14:49] tarasyyyk commented on #36
@Zim123 подивимося, яким буде результат опитування. Якщо ці два варіанти наберуть більш-менш одинакові кількості голосів, то виберемо обидва варіанти.

[2019-07-22 16:50] UkrainianCitizen commented on #36
Із оксфордського словника:

Серед наданих варіантів, лише `вираз` найкраще підходить під подібне визначення слова.

[2019-07-22 17:30] UkrainianCitizen commented on #8
@tarasyyyk  Потрібно додати ще дуже, дуже багато слів.
Декілька прикладів:

[2019-07-22 17:43] tarasyyyk commented on #8
@UkrainianCitizen я планував перенести рекомендації щодо перекладу і Глосарій в окремий файл TRANSLATE.md, як це зробити в російському репозиторії. В той файл записувати затверджені переклади. А тут лише кидати посилання на обговорення слів. Тобто, як Ви зробили: написали слова, які потребують перекладу, я створюю issue, роблю опитування і ми обговорюємо їх в кожній issue, це issue буде свого роду

[2019-07-22 17:46] tarasyyyk commented on #8
@UkrainianCitizen покищо лише я зголосився вкладати свій час в перевірку пул реквестів. Знаю, що є помилки, за всім не встежиш. Головна проблема, як для мене це постійні конфлікти з основним, англійським репозиторієм: доводиться постійно вирішувати конфлікти, іноді це займає багато часу, і чим більше буде перекладених файлів нами, тим більше і частіше виникатимуть конфлікти.

[2019-07-22 17:46] tarasyyyk commented on #8
Тому, якщо Ви можете виділити трішки часу і є натхнення, можете допомогти з код рев'ю або мерджем конфліктів.

[2019-07-22 18:27] tarasyyyk commented on #8
Весь Глосарій переміщено в [Google Таблицю]( https://docs.google.com/spreadsheets/d/16tuvd7XaGES81bKLklDXcR2C--GcfJbbMmGE5MzppfI).
В той документ можна (і потрібно) додавати нові і неузгоджені слова. Це можна зробити, додавши коментар.

[2019-07-22 18:39] UkrainianCitizen commented on #8
Для цього ви мене маєте додати в collaborators. Можливо, візьму щось на переклад, але перед цим треба утвердити більше слів в глосарій.

[2019-07-23 14:49] UkrainianCitizen commented on #36
Але такий переклад `вираз` конфліктує із словом `expression`, адже там також треба перекладати `вираз`. Тут при перекладі потрібно врахувати все.

[2019-07-23 14:53] UkrainianCitizen commented on #8
Я пропоную видалити всі повідомлення, крім цього. Всі повідомлення з новими словами також видаляти.

[2019-07-23 17:26] tarasyyyk commented on #36
@UkrainianCitizen в такому випадку переклад `вираз` відпадає для слова `statement`. Можу що, `expression` доволі часто буде зустрічатися в наступних розділах.

[2019-07-23 17:34] tarasyyyk commented on #1
@dDenysS I added some explanations about this to [Translation recommendatins](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/TRANSLATION.md#метадані).

[2019-07-23 19:59] Zim123 commented on #36
@UkrainianCitizen @tarasyyyk
А чом би і ні? Є таке поняття як синонім, якщо в одному реченні вони будуть зустрічатися, то statement можно перекласти як "конструкція", якщо ні — то можно як "вираз". Я взагалі не бачу проблеми. Тим паче, що у "інструкції по перекладу" було сказано, що не обов'язково дослівно переводити, можно близько за змістом.

[2019-08-01 06:59] UkrainianCitizen commented on #36
@Zim123 В українській мові, це синоніми, але в англійській - це два різних слова, які в контексті програмування вживаються в різних випадках, тому і для перекладу треба вживати два різних слова.
Вікі - ненадійне джерело, але там `expression` перекладають як `вираз`. Також виходячи із тлумачення і use cases англ. відповідника, це, зрештою, `вираз`.

@Zim123 @tarasyyyk [Англійська вікі](https://en.w

[2019-08-01 07:14] tarasyyyk commented on #36
@UkrainianCitizen тоді слово `expression` краще перекладати як `вираз`?
Зараз для `statement` якраз і використовується слово `інструкція`. В такому випадку нічого міняти не прийдеться.

[2019-08-01 07:17] UkrainianCitizen commented on #36
@tarasyyyk Я думаю, що так.

[2019-08-05 09:22] lobanov-oleh commented on #1
Hello :-)
I will take `JavaScript Fundamentals >The "switch" statement`.

[2019-08-05 09:32] tarasyyyk commented on #1
@lobanov-oleh hi!
I'll mark it in first comment.

[2019-08-05 17:12] tarasyyyk opened #39 "Словосполучення "strict mode""
Конструкція використовується в мові для позначення спеціального режиму, в якому діють усі сучасні можливості мови. Детальніше [в цьому розділі](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/02-first-steps/03-strict-mode/article.md).
Нові варіанти пропонуйте в коментарях.
Опитування триває до **1 листопада 2019 р**.
[![](https://api.gh-polls.com/poll/01DHHCC1MC7VBSGG6T2

[2019-08-06 08:58] lobanov-oleh commented on #36
У випадку з `The "switch" statement` **конструкція** максимально влучний із перерахованих варіант. Тому я за **statement** = **конструкція** :-)

[2019-08-07 06:49] lobanov-oleh commented on #39
Слово `строгий` є в українській мові і як на мене воно влучніше за `суворий` у випадку з `strict` ([Словник української мови](https://www.slovnyk.ua/index.php?swrd=строгий)

[2019-08-14 16:58] tarasyyyk commented on #1
thanks for translation!

[2019-08-16 15:07] UkrainianCitizen commented on #36
Це лише часткова правда у випадку із switch. Не хочу повторюватися чому це неправильно, почитайте [мою відповідь]([url](https://github.com/javascript-tutorial/uk.javascript.info/issues/36#issuecomment-517147930)). Крім того, є слово `construct` переклад, якого 100% конструкція, що конфліктує з таким варіантом перекладу.

[2019-08-18 22:20] hypeofpipe commented on #36
Вікіпедія говорить наступне:
"Констру́кція (constructio, від con — «разом», «з» та struere — «будувати»)"

Особисто я собі уявив особу недосвідчену в програмуванні, і мені здається, що це може бути за важко і не зрозуміло для неї. Особисто мене такі незрозумілі слова завжди відлякували на початку вивчення певної мови програмування. З точки зору читабельності, моєю думкою, підійде слово "**інструкц

[2019-08-18 22:34] hypeofpipe commented on #1
Hello, I'll take `JS Fundamentals > Functions`

[2019-08-25 11:14] UkrainianCitizen commented on #39
СУМ - 11 - це старий радянський словник, який вважається застарілим, в якому багато ненормативних та калькованих на сьогодні слів, які, зазвичай, БАЖАНО перевіряти. Єдиний сайт для більш сучасного СУМ - 20 зараз не працює, тому не можу подивитися там чи таке слово ще вважається нормативним. Якщо у когось є доступ до друкованого видання - перевірте.

[2019-10-01 07:57] tarasyyyk commented on #36
Опитування завершено. Згідно результатів, для слова `statement` буде використовуватися український відповідник «**інструкція**». Слово додано до [Глосарію](https://github.com/javascript-tutorial/uk.javascript.info/issues/8#issue-441204008).
Знімок опитування:
![Слово  statement  · Issue #36 · javascript-tutorial:uk javascript info 2019-10-01 10-40-39](https://user-images.githubusercontent.com/2010

[2019-10-01 07:57] #36 closed

[2019-10-03 10:59] UkrainianCitizen commented on #39
Отримав доступ до електронної версії більш нового СУМ-20, але там відцифровано лише до слова "настукувати", тому перевірити валідність слова "строгий" в сучасній українській мові не можу.
https://services.ulif.org.ua/expl/Entry/index?wordid=1&page=0

[2019-10-07 11:46] Tuoris commented on #1
Hi, I'm taking [Function expressions and arrows](https://github.com/javascript-tutorial/uk.javascript.info/tree/master/1-js/02-first-steps/15-function-expressions-arrows)

[2019-11-01 20:00] tarasyyyk commented on #39
Згідно з результатом голосування, для словосполучення «strict mode» буде використовуватися відповідник **суворий режим**.
Результати голосування, станом на 1 листопада:
![Screenshot_20191101-215246](https://user-images.githubusercontent.com/20100011/68052455-56335280-fcf2-11e9-8b40-dfd29e196749.jpg)
Додано до Глосарію.

[2019-11-01 20:00] #39 closed

[2019-11-02 09:35] tarasyyyk commented on #8
*strict equality* => **строге порівняння** (однак, strict *mode* == **суворий режим**)

[2019-12-30 09:15] tarasyyyk commented on #1
@dDenysS Hi. Any progress with it?

[2019-12-30 09:15] tarasyyyk commented on #1
@hypeofpipe Hello. Any progress with it?

[2020-01-16 18:54] tarasyyyk commented on #8
Пропоную слово `debug, debugging` перекладати, як **зневадження**. [Ось тут](https://slovotvir.org.ua/words/debaging) найбільшу кількість голосів набрав саме цей варіант.

[2020-01-28 10:06] ivanstnsk commented on #1
Going to take this part to translate: **Advanced working with functions**

[2020-01-28 10:15] tarasyyyk commented on #1
@ivanstnsk it's a huge chapter of tutorial. Are you going to translate the first part: [**Recursion and stack**](https://github.com/javascript-tutorial/uk.javascript.info/tree/master/1-js/06-advanced-functions/01-recursion) ?

[2020-01-28 18:51] ivanstnsk commented on #1
@tarasyyyk yes let's start from the first part Recursion and Stack!

[2020-02-21 14:36] alexgalkin commented on #1
I may take "Coding Style" section

[2020-02-25 18:57] alexgalkin commented on #8
Особисто мені такий варант норм, але я б у дужках залишив "дебаґінґ" також.

Тільки не "зневадження", будь ласка. Не знаю чому, але в мене асоціація тут більш зі "зневагою", але ніяк не з дебагом.

З цим повністю згоден.

[2020-02-25 19:16] tarasyyyk commented on #8
не знаю, чи варто до кожного слова додавати в дужках «дебаґінґ». Можливо варто дописати десь в заголовках, але лише декілька разів. А в основному використовувати «налашодження».

[2020-02-25 22:45] alexgalkin commented on #8
Добре, тільки не «налашодження» будь ласка :)

[2020-02-25 22:46] alexgalkin commented on #8
ще пропоную додати
space => **пробіл** (не прогалина)

[2020-02-26 09:03] tarasyyyk commented on #8
Поки що на рахунок цього слова невідповідностей не виникало: вже декілька перекладачів використовували слово «пробіл» у своїх перекладах.
Можливо, якщо хтось почне перекладати space як «прогалина», виникне потреба в голосуванні.
Зараз маємо, що слово «пробіл» (space) само собою зрозуміле як слово «браузер» (browser), а не «веб-переглядач».

Перш за все посібник має бути зрозумілим і якомога легшим

[2020-02-27 18:38] alexgalkin commented on #1
I may take the "Comments" section also.

[2020-02-27 18:48] ivanstnsk commented on #1
@alexgalkin join our organization! :)

[2020-02-27 19:09] tarasyyyk commented on #1
@alexgalkin great! I added you to Maintainer list.

[2020-02-28 18:44] alexgalkin commented on #1
I will also take "Ninja code" section. I will create PR for Comments later today.

[2020-03-01 10:53] alexgalkin commented on #1
PR for "Ninja code" is ready. I will take "Automated testing with mocha" next.

[2020-03-01 17:59] alexgalkin commented on #8
to run a function => **запускати функцію** чи _виконувати функцію_?

[2020-03-01 20:15] tarasyyyk commented on #8
@alexgalkin хороше питання. На мою думку, краще «_виконувати функцію_», бо «запускати» більше підходить до фізичних дій (як от, запускати двигун, запускати літак тощо).
Щодо «call a function», я більше схиляюся до варіанту «викликати функцію».

[2020-03-04 17:42] alexandrtovmach commented on #8
@tarasyyyk @alexgalkin
_execute function_ -> виконати функцію
_call function_  -> викликати функцію
_run function_ -> запустити функцію

[2020-03-04 17:45] alexandrtovmach commented on #1
hey guys,
1. Why you're speaking in clearly Ukrainian repository in English?
2. I'd like to translate Data types/[Numbers](https://github.com/javascript-tutorial/uk.javascript.info/tree/master/1-js/05-data-types/02-number)

[2020-03-04 18:48] tarasyyyk commented on #1
@alexandrtovmach

практикуємо англійську :)
в коментарях почали писати англійською, та й я вже підхопив. В Глосарії спілкуємося українською :). Тут немає суворих правил, якою мовою писати (але бажано тією, яку будуть розуміти ті, хто захоче брати участь в перекладі)

ok, updated first comment with your request.

[2020-03-04 19:14] tarasyyyk commented on #8
@alexandrtovmach на рахунок «call function» питань немає – тут однозначно «виклик функції». Глянув в англійську версію, і знайшов доволі багато рядків з «execute functin». Получається, що є всі три варіанти, а отже можна використовувати переклади, так як ви написали.
@alexgalkin я бачу, ви вже виправили переклад згідно мого коментаря. Вибачте, я потім виправлю на «запуск функції» в pull request'і.

[2020-03-04 20:42] alexgalkin commented on #8
ок, я виправлю, мені ще багато перекладати.

[2020-03-04 20:44] alexgalkin commented on #1
і хоча мені ще "testing with mocha" треба перекладати, прохання "Polyfills" також залишити мені, щоб розділ було завершено.

[2020-03-05 08:58] alexandrtovmach commented on #8
@tarasyyyk @alexgalkin Що думаєте? Гадаю ви вже перекладали десь
`true` -> "істина" / "правда" / "вірно" / "true"
`false` -> "хибно" / "неправда" / "не вірно" / "false"

[2020-03-05 09:39] tarasyyyk commented on #8
@alexandrtovmach так, я перекладав розділ «[Оператори порівняння](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/02-first-steps/08-comparison/article.md)»  і використовував `true/false` для результатів логічних операцій.

Цікаво те, що в цьому розділі я використовував «Строге порівняння» (Strict equality), хоча  "strict mode" [вирішили](https://github.com/javascript-tut

[2020-03-05 09:46] alexandrtovmach commented on #8
Це значить що треба апдейтити старі переклади, після того як ви оновлюєте словник. Пошук з заміною по всьому проєкту в окремий PR

[2020-03-05 14:01] UkrainianCitizen commented on #8
Я вважаю, що ключові слова краще не перекладати.

Було б непогано додати ще один лист в гугл док, де будуть джерела з якими можна звіряти і які не є застарілими. Я пропонував для початку  [СУМ-20](https://services.ulif.org.ua/expl/Entry/index?wordid=1&page=0)(але не СУМ-11!), в ньому немає лише змін із нещодавнього нового правопису, правда він ще повністю не оцифрований. Недавно Фабула випустила "

[2020-03-05 18:00] tarasyyyk commented on #8
@UkrainianCitizen додано лист до Google Таблиці.

[2020-03-05 23:50] alexgalkin commented on #1
пул реквест для "Automated testing with mocha" готовий для перевірки.
я почну перекладати "Polyfills" на вихідних.

[2020-03-06 20:47] alexandrtovmach commented on #1
Я тоді піду далі по типах даних:
Data types/Strings

[2020-03-06 21:43] tarasyyyk commented on #8
@all-contributors add @UkrainianCitizen for good ideas.

[2020-03-06 22:22] tarasyyyk commented on #1
Hi, @dDenysS. Please, make PR with [your changes](https://github.com/javascript-tutorial/uk.javascript.info/compare/master...dDenysS:master) to "Loops".
I'll complete translation later if you haven't time for it.

[2020-03-06 23:31] tarasyyyk commented on #3
Thank you for contribution!
@all-contributors add @dDenysS for translation.

[2020-03-06 23:48] alexgalkin commented on #8
пропоную додати

transpiler => транспілятор
(як зустрічається тут https://developer.mozilla.org/uk/docs/Web/JavaScript/Reference/Operators/Оператор_розпакування )

не "транспайлер"

[2020-03-07 00:00] alexgalkin commented on #1
PR for "Polyfills" is ready. I am going to take "Objects" next. That might take more time...

[2020-03-07 00:18] tarasyyyk commented on #8
@alexgalkin слушна думка! Додав в Глосарій.

@all-contributors add @alexgalkin for good ideas.

[2020-03-07 00:44] tarasyyyk commented on #1
@alexgalkin great, you're doing well with translation!
You can take a little break before translating "Objects" chapter because it huge.

[2020-03-07 09:47] UkrainianCitizen commented on #8
Я б не сильно довіряв MDN як джерелу, я не раз зустрічав там дуже поганий переклад. Крім того, контріб'ютити переклад туди може буквально кожний, без ніякого рев'ю, тому тамтешня якість перекладів під великим питанням.

[2020-03-07 10:39] alexandrtovmach commented on #8
Згоден щодо MDN, не найкращий взiрець

[2020-03-07 15:41] dDenysS commented on #1
Hi, @tarasyyyk. PR was made

[2020-08-26 10:25] ArtemZununov commented on #1
Hi, i will take Data types/Arrays

[2020-08-26 10:48] tarasyyyk commented on #1
@ArtemZununov great!

[2020-09-19 01:06] vsemozhetbyt commented on #1
I will try "Nullish coalescing operator '??'".

[2020-09-21 20:50] ArtemZununov commented on #1
Hi
Pull Request of chapter Data types/Arrays are opened and waiting for check

[2020-09-21 21:17] vsemozhetbyt commented on #1
Чи є в нас якісь правила щодо заявок, які дещо загальмувались? Що робити, коли стає очевидно, що в автора поки нема часу і він не відповідає тут на питання? Можна, звичайно, брати пізніші розділи. Але, мабуть, було б корисніше, якби переклад був без перерв. Якщо ми колись дістанемось половини і можна буде пропонувати публікацію, хай би це була суцільна половина. Для читачів так буде краще: вони зм

[2020-09-22 10:47] tarasyyyk commented on #1
@vsemozhetbyt цієї миті лише я один відповідальний за перевірку запитів на злиття і їх злиття в головну гілку. + кожного тижня проходять нові зміни з [головного репозиторію](https://github.com/javascript-tutorial/en.javascript.info), які теж треба перевірити і злити з цим репозиторієм. Я привик всі зміни ретельно перевіряти і виділяю для цього досить багато часу. Бачу зараз трішки накопилося запит

[2020-09-22 11:06] vsemozhetbyt commented on #1
О, ні, вибачте, я не мав на увазі нікого підганяти з перевіркою пул-реквестів, це кропітка праця. Я скоріше мав на увазі такі ситуації: скажімо, більше року тому заявлено переклад розділу про функції, але автор з того часу не озивався, а черга до цього розділу вже підходить.

[2020-09-22 11:25] tarasyyyk commented on #1
@vsemozhetbyt так, це справді проблема. Думаю, в такому випадку краще вводити максимальний термін для перекладу, скажімо 2 місяці. Чому 2 місяці? Я розумію, що деякі розділи мають справді багато тексту для перекладу. Також розумію, що для перекладу люди виділяють частину свого вільного часу (за що я дуже їм вдячний). Тому в таких випадках великий розділ може затягнутися на тижні. Час від часу, я п

[2020-09-22 11:35] vsemozhetbyt commented on #1
Мені здається, що це слушна пропозиція. Щодо згаданої ситуації, можу запропонувати: якщо шановний @hypeofpipe не озветься найближчим часом, я можу взяти переклад його розділу. Якщо в нього вже є частина перекладу, але нема часу завершити, ми будемо вдячні і за пул-реквест з частиною,  решту зможе доперекласти хтось інший.

[2020-09-23 16:06] vsemozhetbyt commented on #1
Як не прикро це звучить після моїх останніх коментарів, але, з деяких особистих причин, я не зможу бути корисним проєкту найближчим часом. Тому, на жаль, прошу вважати вакантними переклади розділу "Nullish coalescing operator '??'" (автор сьогодні його переписав, тому мій варіант, на жаль, використати не вдасться) та розділу "Functions" (якщо шановний @hypeofpipe не озветься). Вибачте, що так стал

[2020-10-02 15:01] UkrainianCitizen commented on #36
Не побачив *operator* i *operand* в словнику.

[2020-10-02 15:44] UkrainianCitizen commented on #8
@tarasyyyk **КРИТИЧНО**: який переклад для *truthy/falsy*? В глосарії немає. Потрібно якось розділяти *true/false* та *truthy/falsy* в перекладі, це не одне і те саме. Я рев'ювив [ПР ](https://github.com/javascript-tutorial/uk.javascript.info/pull/112/files) і усюди бачив, що *truthy/falsy* перекладається як *true/false*.

[2020-10-02 19:10] tarasyyyk commented on #8
@UkrainianCitizen я вважаю що краще перекладати _truthy/false_ як **вірне/хибне**.
Якщо мова йде про `true/false` як значення булевого типу тоді краще не перекладати.
Наприклад, «_якщо функція `isDay()` поверне значення `true`, тоді ..._ ». А не: «_якщо функція `isDay()` поверне вірне/правдиве/істинне значення, тоді ..._». Тим не менш, відчуваю що щодо цього перекладу будуть інші пропозиції. Тому

[2020-10-02 19:43] tarasyyyk commented on #36
@UkrainianCitizen так і перекладатимемо: _operator_ => **оператор** i _operand_ => **операнд**.

[2020-10-02 19:57] UkrainianCitizen commented on #8
@tarasyyyk вірний - [**калька**](https://onlinecorrector.com.ua/uk/%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%B9-%D0%BD%D0%B0%D0%B4%D1%96%D0%B9%D0%BD%D0%B8%D0%B9-%D1%81%D0%BB%D1%83%D1%88%D0%BD%D0%B8%D0%B9/). Істинний(тут я помітив, що використовується правдивий, хоча це не дуже вписується в стандарти)/хибний - *true/false* <- перекладають зазвичай так.
Я зрозумів, що вищезагадану па

[2020-10-03 16:03] UkrainianCitizen commented on #36
@tarasyyyk не в той тред написав, але вже закінчу тут. Це треба в глосарій додати.

[2020-10-03 17:35] tarasyyyk commented on #8
Додано в Глосарій: _operator_ => **оператор** i _operand_ => **операнд**.

[2020-10-07 14:25] ArtemZununov commented on #1
@tarasyyyk   Добрий день, коли зможете перевірити ПР?

[2020-10-07 17:38] tarasyyyk commented on #1
@ArtemZununov доброго вечора. Цієї суботи перевірю. Вибачте за затримку.

[2020-10-20 10:02] ArtemZununov commented on #1
@tarasyyyk Добрий день, щодо мого ПР?

[2020-10-21 10:23] tarasyyyk commented on #1
@ArtemZununov доброго дня! Перевірив Ваш ПР. Дякую за Ваш внесок!
Вибачте за затримки.

[2020-10-21 21:59] ArtemZununov commented on #1
Will take Data Array methods

[2020-12-08 12:30] tarasyyyk commented on #1
Потрібна допомога з перекладом розділу «[Поліфіли і транспілятори](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/03-code-quality/06-polyfills/article.md#транспілятори)» (переклад додано після злиття з цими змінами: https://github.com/javascript-tutorial/uk.javascript.info/pull/131).

[2021-03-02 10:19] Olli55 commented on #1
I will try to take JavaScript Fundamentals -> Nullish coalescing operator '??'

[2021-03-02 11:32] tarasyyyk commented on #1
@Olli55 ok. Please, translate `Nullish coalescing operator` as  `Оператор null-об'єднання`.
I think this is best translation for this.

[2021-03-27 12:13] p182 opened #139 "Publish this repository on website (uk.javascript.info)"
Зараз Javascript.info aka learn.javacript.ru доступний декількома мовами, але українська на сайті відсутня, хоча вже достатньо статей перекладено, будь ласка, опублікуйте статі на сайті, або додайте інструкцію, як сгенерувати статі для свого сайту

[2021-03-27 14:52] tarasyyyk commented on #139
@p182 на даний момент українською не перекладено навіть четвертини всього матеріалу. Було б добре перекласти хоча б половину перед публікацією. На даний момент немає постійних перекладачів, які могли б перекладати хоча б 2 розділи в місяць. Але переклад триває, повільно але впевнено. А сам проєкт оновлюється майже кожного дня, тому вся інформація в ньому актуальна і буде дуже потрібна для майбутні

[2021-03-27 14:53] tarasyyyk commented on #139
@iliakan сколько минимально нужно перевести разделов, чтобы можно было опубликовать перевод (uk.javascript.info)?

[2021-03-27 15:24] iliakan commented on #139
Хотя бы целиком первую часть. Обычно 50%+.

[2021-07-06 11:37] stas-dolgachov commented on #1
Всім привіт! Я візьму Object copy

[2021-07-06 11:40] tarasyyyk commented on #1
@stas-dolgachov привіт!
Гаразд, я запишу.

[2021-07-11 17:57] stas-dolgachov commented on #1
Закінчив переклад  Object copy.
https://github.com/javascript-tutorial/uk.javascript.info/pull/142
Якцо можна, хочу взяти Garbage collection
@tarasyyyk можешь мене додати до листа перекладу?

[2021-07-12 14:54] stas-dolgachov commented on #1
Мабуть хтось інший зможе мене додати і подивитися мій переклад ;)
@alexgalkin @vsemozhetbyt  @Zim123 @alexandrtovmach @stevermeister @UkrainianCitizen @lobanov-oleh @dDenysS @ArtemZununov  @tarasyyyk

Соррі якщо турбую не за адресою, але хочу оживити цей переклад :)

[2021-07-13 18:47] stas-dolgachov commented on #1
@tarasyyyk дякую! Я планую перекладати на постійній основі і, якщо пощастить, приведу ще перекладачів ;)

Дуже хочу, щоб українськая версія з'явилась все ж таки на сайті

[2021-07-21 07:23] gingano commented on #1
@tarasyyyk Привіт, хочу перекласти Strings

[2021-07-21 07:51] didOstap commented on #1
Привіт, @tarasyyyk
Я візьму Optional chaining '?.'

[2021-07-21 08:01] MykolaSopiha commented on #1
Привіт, @tarasyyyk !
Можна взяти 4. Objects: the basics > 4. Object methods, "this" ?

[2021-07-21 08:01] EugeneKosh commented on #1
Всім привіт!
@tarasyyyk я б хотів перекласти "Introduction: callbacks"

[2021-07-21 08:07] Regnised commented on #1
Привіт, хочу перекласти 'Map, Set'. @tarasyyyk

[2021-07-21 09:31] tarasyyyk commented on #1
Ого, як вас багато! Напевно @stas-dolgachov постарався :)
Зараз всіх додам до списку.

[2021-07-21 10:30] tarasyyyk commented on #8
@UkrainianCitizen тоді будемо перекладати `truthy/false` як "значення `true` / значення `false`".
До прикладу, [в цьому файлі](https://github.com/javascript-tutorial/en.javascript.info/blame/master/1-js/99-js-misc/05-bigint/article.md#L84) перекладатимемо так:

![image](https://user-images.githubusercontent.com/20100011/126474795-8dd6debe-37e1-4262-91a1-91fef7953409.png)

Додано в глосарій.

[2021-07-21 12:06] didostap commented on #1
@tarasyyyk Optional chaining '?.'  - висить PR
Далі хотів би взяти Promise

[2021-07-21 14:13] tarasyyyk opened #147 "Словосполучення «default values»"
Потрібно визначити, як будемо перекладати словосполучення **default values**.
В [Словотворі](https://slovotvir.org.ua/words/bai-defolt) є декілька варіантів. Виберу найбільш популярні і виставлю на голосування. Особисто я за «типово».
Потрібно поставити реакцію під коментарем, щоб проголосувати. Можна вибрати декілька варіантів перекладу або додати свій.

Дата закінчення голосування **1 вересня 20

[2021-07-21 14:19] tarasyyyk commented on #147
(_значення_) **за замовчуванням**

[2021-07-21 14:19] tarasyyyk commented on #147
**типові** (_значення_)

[2021-07-21 14:19] tarasyyyk commented on #147
**усталені** (_значення_)

[2021-07-21 14:20] tarasyyyk commented on #147
**задані** (_значення_)

[2021-07-21 14:22] tarasyyyk commented on #8
Вибираємо, як будемо перекладати слово **default**: [тут](https://github.com/javascript-tutorial/uk.javascript.info/issues/147)

[2021-07-21 22:24] Tarkeasy commented on #1
@tarasyyyk Привіт, хочу взяти Symbol type

[2021-07-23 07:59] q587p commented on #1
@tarasyyyk хотів би взяти Network requests -- Fetch (і далі, якщо піде).

[2021-07-23 09:14] hordiienko-tatiana commented on #1
Всім привіт,
@tarasyyyk хочу перекласти Constructor, operator "new"

[2021-07-23 16:25] tarasyyyk commented on #1
Оновив прогрес перекладу.
Завтра перегляну всі PR. Всім дякую за переклади!

[2021-07-23 18:30] chizzzy commented on #1
Привіт. Хотів би перекласти Object.keys, values, entries
@tarasyyyk

[2021-07-23 19:03] q587p opened #150 "Translation: Network requests > Fetch"
Started translation.
Path in repo: 5-network\01-fetch\

[2021-07-23 22:13] VolodymyrSSS commented on #1
Усім привіт, хочу перекласти статтю Prototypal inheritance
@tarasyyyk

[2021-07-24 14:01] MykolaSopiha commented on #1
Можна взяти "Object to primitive conversion"?

[2021-07-24 14:40] iliakan commented on #1
If an article wasn't claimed, you can just write its title in the comment. And the bot will assign you.

Please read the issue top for the details =)

![image](https://user-images.githubusercontent.com/349336/126871935-db312b7c-f0ba-4a3f-90be-1c913608add6.png)

[2021-07-26 09:54] UkrainianCitizen commented on #147
https://ukrainian.stackexchange.com/a/5907/2097
https://ukrainian.stackexchange.com/questions/33/%d0%af%d0%ba-%d0%bf%d1%80%d0%b0%d0%b2%d0%b8%d0%bb%d1%8c%d0%bd%d0%be-%d0%bf%d0%b5%d1%80%d0%b5%d0%ba%d0%bb%d0%b0%d1%81%d1%82%d0%b8-default-value

[2021-07-26 09:57] UkrainianCitizen commented on #147
За замовчуванням не валідним варіантом, бо це калька.

[2021-07-26 09:59] UkrainianCitizen commented on #147
Для цього слова має бути набір валідних перекладів, якими можна перекладати залежно від контексту.

[2021-07-26 12:09] MykolaSopiha commented on #1
Object to primitive conversion

[2021-07-26 12:10] MykolaSopiha commented on #1
9. Object to primitive conversion

[2021-07-26 12:59] stas-dolgachov commented on #1
"Iterables"

[2021-07-26 13:01] stas-dolgachov commented on #1
@tarasyyyk додай будь-ласка @MykolaSopiha до переліку статей, він вже закінчив цей переклад і хоче взяти наступну статтю :)

[2021-07-26 13:11] MykolaSopiha commented on #1
WeakMap and WeakSet

[2021-07-27 18:23] tarasyyyk commented on #1
Додавати учасників перекладу має бот @javascript-translate-bot.
Все, що потрібно новому учасникові — це просто написати тут коментар з англійською назвою статті, яку він/вона збирається перекласти. А потім створити PR з такою ж назвою.

В теорії цей бот має автоматизувати процес відмічання/завершення перекладів, але в нашому випадку він «онулив» весь наш прогрес. Частково це моя провина, тому що н

[2021-07-27 18:23] tarasyyyk commented on #1
@didostap, якщо Ви помітити деякі неточності в перекладі або бачите, де можна було б покращити переклад, перейдіть на вкладку `Files changed` і додайте коментар-пропозицію ось таким чином:
![map_translation](https://user-images.githubusercontent.com/20100011/127206133-5675eea9-96ca-45dc-979f-630ab8df93f2.png)
Тоді перекладач матиме змогу швидко додати Вашу пропозицію до свого перекладу. Якщо б Ви

[2021-07-27 19:11] tarasyyyk opened #158 "Object methods, "this""

[2021-07-27 19:13] #158 closed

[2021-07-27 19:51] tarasyyyk commented on #147
@UkrainianCitizen змінив голосування з `default` на `default values` і видалив варіант перекладу `значення за замовчуванням` тому що цей варіант перекладу однозначно не відповідний (враховуючи авторитетні джерела).

[2021-07-27 20:13] tarasyyyk commented on #1
Functions

[2021-07-27 21:27] didostap commented on #1
@tarasyyyk добавляйте до організації. По можливості буду рев'ювати.

[2021-07-28 07:20] didostap commented on #1
@tarasyyyk "Promise" - висить PR
Далі хотів би взяти "Generators"

[2021-07-29 00:28] MykolaSopiha commented on #1
Date and time

[2021-07-29 05:53] MariaTar commented on #1
Rest parameters and spread syntax

[2021-07-29 10:44] chizzzy commented on #1
Хотів би взяти The old "var".

[2021-07-29 11:37] chizzzy commented on #8
@tarasyyyk
пропоную додати
scope -> область видимості
script -> скрипт

[2021-07-29 14:31] tarasyyyk commented on #8
@all-contributors add @chizzzy for ideas

[2021-07-29 14:36] tarasyyyk commented on #1
Напишіть, будь ласка, назву статті англійською мовою, щоб @javascript-translate-bot зміг відслідковувати Ваш прогрес. Дякую.

[2021-07-29 14:44] tarasyyyk commented on #1
Гаразд, тільки коли хочете взяти новий розділ для перекладу, просто напишіть його назву тут, в коментарях. Вище я про це писав🙂 А вже потім після перекладу створіть новий PR з такою ж назвою. Я оновив README можете прочитати детальніше.

[2021-07-29 14:47] Regnised commented on #1
Global object

[2021-07-29 15:46] chizzzy commented on #8
@tarasyyyk пропоную додати
Lexical Environment - Лексичне середовище

[2021-07-29 17:49] tarasyyyk commented on #8
а які ще варіанти перекладу `lexical` можуть бути?

[2021-07-30 07:23] chizzzy commented on #8
@tarasyyyk взагалі, як каже словник, лексичне або словникове.
Але мене тут більше турбує переклад слова **environment** - оточення або середовище

[2021-07-31 10:11] chizzzy commented on #1
The old "var"

[2021-07-31 11:36] AlexNikolaiev94 commented on #1
An Introduction to JavaScript

[2021-07-31 20:02] MykolaSopiha commented on #1
JSON methods, toJSON

[2021-08-02 06:39] stas-dolgachov opened #169 "New maintainers"
Зважаючи на те, що переклад підручника прискорився, зросла і кількість активних пулл реквестів.

Для того, щоб процесс перевірки пулл реквестів був кращий і швидший, я пропоную запропонувати активним перекладачам не тільки робити переклади, а також перевіряти переклади інших.

На мою думку, **"активний перекладач"** — це людина яка переклала дві або більше статей :)

**Як я бачу цей процесс.**
1.

[2021-08-02 06:45] stas-dolgachov opened #170 "Відновлення прогрессу перекладу"
Нещодавно бот який відповідає за закріплення статей за перекладачами видалив з деяких статей відмітки, про те що вони вже готові.

@tarasyyyk  Може ми якось можемо домогти?

Наприклад, я можу зв'язатися з Ілльою Кантором і спитати як це віправити. Або можу якось це зробити у ручному режимі.

[2021-08-02 09:36] tarasyyyk commented on #170
Доброго дня.
Я вже писав Іллі на рахунок цього, ще 27 липня. Але відповіді не отримав.
Коли буду мати час, тоді сам вручну все додам — в історії коментаря збережено весь прогрес.
Єдине питання в тому, чи не видалить знову бот мої зміни.

[2021-08-02 11:13] hordiienko-tatiana commented on #1
Scheduling: setTimeout and setInterval

[2021-08-02 12:08] tarasyyyk commented on #169
@stas-dolgachov це дуже хороша пропозиція.
Справді, відколи появилася більша кількість перекладачів, мені не вистачає часу на перевірку. Вже не кажучи на переклад. Адже я займаюся цим у вільний час, а щоб якісно перевірити і запропонувати зміни, потрібно ретельно і повністю прочитати розділ (бажано двічі).
Плюс, ніхто не скасовував людьський фактор – дві голови краще ніж одна, та й свіжий погляд н

[2021-08-03 06:49] stas-dolgachov commented on #169
@tarasyyyk добре, у такому разі я запропоную перекладач долучитися до перевірки

[2021-08-03 18:29] tarasyyyk opened #173 "Переклад: слово "environment""
В контексті `environment variables` тощо.
Голосування до **1 жовтня 2021**.

[2021-08-03 18:30] tarasyyyk commented on #173
environment => середовище

[2021-08-03 18:30] tarasyyyk commented on #173
environment => оточення

[2021-08-03 18:33] tarasyyyk commented on #8
@chizzzy, особисто я за варіант `середовище`.
[Створив голосування](https://github.com/javascript-tutorial/uk.javascript.info/issues/173), щоб визначити найбільш пригожий варіант.

[2021-08-03 20:05] tarasyyyk commented on #1
Цей розділ вже перекладено. Я ще не оновив прогрес. Вибачте за незручності.
Можна брати будь-який вільний розділ, починаючи з частини `Objects: the basics`

[2021-08-03 20:09] tarasyyyk opened #174 "Переклад: слово "hard-coded""
Цим словом позначається код, або змінна, або значення, яке прописане в коді і не змінюється під час виконання скрипта.

Голосування завершиться **1 жовтня 2021**.
Додавайте свої варіанти, бо я придумав лише "жорстко-кодоване"

[2021-08-03 20:10] tarasyyyk commented on #174
жорстко-кодоване

[2021-08-05 09:18] chizzzy commented on #1
Arrow functions revisited

[2021-08-05 13:06] tarasyyyk commented on #1
@Olli55 як справи з перекладом? Якщо немає прогресу, тоді я видалю відмітку.

[2021-08-05 14:12] tarasyyyk commented on #170
Прогрес відновив.

[2021-08-05 14:12] #170 closed

[2021-08-05 15:34] tarasyyyk commented on #173
Голосування переніс на [сторінку обговорень](https://github.com/orgs/javascript-tutorial/teams/translate-uk/discussions/2).

[2021-08-05 15:34] #173 closed

[2021-08-05 15:35] tarasyyyk commented on #150
You don't need to create issues when translating.

[2021-08-05 15:35] #150 closed

[2021-08-05 15:38] tarasyyyk commented on #8
Всі нові голосування а також будь-які обговорення будемо створювати в [розділі Обговорень на GitHub](https://github.com/orgs/javascript-tutorial/teams/translate-uk/discussions).

[2021-08-05 15:40] tarasyyyk commented on #174
Голосування переніс в [обговорення](https://github.com/orgs/javascript-tutorial/teams/translate-uk/discussions/3).

[2021-08-05 15:40] #174 closed

[2021-08-05 18:38] VolodymyrSSS commented on #1
Усім привіт, хотів би взяти для перекладу наступну статтю з розділу Prototypes, inheritance, яка називається F.prototype

[2021-08-06 08:53] tarasyyyk commented on #1
@VolodymyrSSS привіт. Дякую за переклад статті `Prototypal inheritance`!

Щоб бот зафіксував за Вами переклад статті, напишіть будь ласка, назву статті англійською мовою окремим коментарем. У Вашому випадку, просто напишіть новий коментар з текстом `F.prototype`.
Детальніше описано в [README](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/README.md) і в [першому коментарі](h

[2021-08-11 06:08] hordiienko-tatiana commented on #8
@tarasyyyk у мене за цим посиланням 404 видає

[2021-08-11 11:30] tarasyyyk commented on #8
@hordiienko-tatiana дякую що повідомили

[2021-08-11 11:32] tarasyyyk opened #182 "Переклад: «environment»"
В контексті `environment variables` тощо.

Голосуйте вподобайками за найкращий переклад.

Голосування до **1 листопада 2021**.

_UPD 1 лист. 2021_: Вибрано варіант «**середовище**» (3 голоси).

[2021-08-11 11:32] tarasyyyk commented on #182
**середовище**

[2021-08-11 11:32] tarasyyyk commented on #182
**оточення**

[2021-08-11 11:37] tarasyyyk opened #183 "Переклад: «hard-coded»"
Цим словом позначається код, змінна або значення, яке прописане в коді і не змінюється під час виконання скрипта.

Голосуйте вподобайками за найкращий варіант, або додавайте свої варіанти.

Голосування завершиться **1 листопада 2021**.

_UPD 1 лист. 2021_: варіанти «жорстко-кодоване» та «фіксоване» набрали одинакову кількість голосів — по 1 голосі. Я вирішив вжити більш зрозуміле слово «**фіксован

[2021-08-11 11:37] tarasyyyk commented on #183
**жорстко-кодоване**

[2021-08-12 08:06] Regnised commented on #1
Objects

[2021-08-12 08:30] Regnised commented on #183
Фіксоване

[2021-08-12 08:31] Regnised commented on #183
Статичне

[2021-08-12 08:35] Regnised commented on #183
Константне

[2021-08-14 17:32] chizzzy commented on #1
Nullish coalescing operator '??'

[2021-08-15 19:23] tarasyyyk commented on #1
Loops: while and for

[2021-08-15 19:47] Regnised commented on #1
Array methods

[2021-08-16 22:02] MykolaSopiha commented on #1
Iterables

[2021-08-17 06:27] hordiienko-tatiana commented on #1
Destructuring assignment

[2021-08-17 11:41] Croftyland commented on #1
Hi, I wish to take topics:

- Native prototypes
- Prototype methods, objects without proto

[2021-08-17 11:53] tarasyyyk commented on #1
Напишіть, будь ласка, ці дві теми окремими коментарями

[2021-08-17 12:10] VolodymyrSSS commented on #1
F.prototype

[2021-08-17 12:36] Croftyland commented on #1
Native prototypes

[2021-08-17 12:36] Croftyland commented on #1
Prototype methods, objects without proto

[2021-08-22 10:55] tarasyyyk commented on #1
Polyfills and transpilers

[2021-08-24 16:23] tarasyyyk opened #193 "Переклад: «Nullish coalescing operator '??'»"
Власне потрібно вибрати найбільш підходящий варіант для перекладу оператора `??`. Детальніше про нього розписано в [цій статті](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/02-first-steps/12-nullish-coalescing-operator/article.md).
Поточний переклад **оператор об’єднання з null**. Заміню на кращий, якщо такий буде.
Закінчення голосування **1 листопада 2021**.

_UPD 1

[2021-08-24 16:51] tarasyyyk commented on #193
Оператор об’єднання з null

[2021-08-24 16:51] tarasyyyk commented on #193
Оператор null-об’єднання

[2021-08-24 16:52] tarasyyyk commented on #193
Оператор null-злиття

[2021-08-29 09:41] hordiienko-tatiana commented on #8
Як краще перекласти `iterable object`? _ітеративний об’єкт_ ?

[2021-08-29 11:30] tarasyyyk commented on #8
@hordiienko-tatiana `об’єкт-ітератор`

[2021-08-30 21:10] UkrainianCitizen commented on #8
Який контекст?

[2021-08-31 09:02] hordiienko-tatiana commented on #8
Це у контексті Destructuring assignment, наприклад _Works with any **iterable** on the right-side_ або _The similar code for a Map is simpler, as it’s **iterable**_

[2021-09-01 07:26] tarasyyyk commented on #147
Голосування завершено. Вибрали варіант **типові значення**.

[2021-09-01 07:26] #147 closed

[2021-09-02 08:24] UkrainianCitizen commented on #8
@tarasyyyk це неправильно.  iterator - ітератор(об'єкт ітератор), iterable - об'єкт над яким можна проводити ітерацію, це дві великі різниці

@hordiienko-tatiana я був би схильний не перекладати iterable частину, в українській немає гарного способу перекласти(об'єкт над яким можна проводити ітерацію), але пуристи скажуть що це неправильно. Якщо все-таки перекладати, то крім ітеративного об'єкта ні

[2021-09-02 10:44] tarasyyyk commented on #8
В російській версії перекладають `перебираемый объект`. Краще взяти цей варіант і адаптувати українською.

@hordiienko-tatiana, у Вашому випадку переклад «_Works with any **iterable**..._» буде: «_Працює з будь-яким **об’єктом, який перебирається** в правій стороні_»

[2021-09-04 13:13] MykolaSopiha commented on #1
Function object, NFE

[2021-09-05 11:05] hordiienko-tatiana commented on #8
@tarasyyyk @UkrainianCitizen наприклад у розділі [Iterables](https://javascript.info/iterable) буде багато разів зустрічатись слово _iterable_ само по собі. Як щодо перекладу на кшталт "_iterable_ - _тип даних_ (або можливо просто _дані_), що _перебирається_",  а далі за контекстом (структура даних, що перебирається, об’єкт, що перебирається і т.п.), тому що однозначно сказати, що  iterable може б

[2021-09-06 09:50] stas-dolgachov commented on #1
Variable scope, closure

[2021-09-06 13:39] tarasyyyk commented on #1
Чудово! У нас перекладено перші 4 розділи! 🎉

[2021-09-11 18:30] MykolaSopiha commented on #1
The "new Function" syntax

[2021-09-13 21:20] MykolaSopiha commented on #1
Decorators and forwarding, call/apply

[2021-09-14 01:22] MykolaSopiha commented on #1
Recursion and stack

[2021-09-23 20:17] Vanchurick commented on #1
Function binding

[2021-09-24 16:48] MykolaSopiha commented on #1
Property flags and descriptors

[2021-09-29 11:40] Vanchurick commented on #1
@tarasyyyk Привіт! Не підскажеш чи мені треба щось ще зробити по моєму ПР https://github.com/javascript-tutorial/uk.javascript.info/pull/203 ? Чи просто чекати коли зроблять ревью?

[2021-09-29 21:09] MykolaSopiha commented on #1
Property getters and setters

[2021-09-30 18:37] tarasyyyk commented on #1
По 203 ПР все добре, я його змерджив. Дякую за переклад!

[2021-09-30 18:42] tarasyyyk commented on #1
Щиро дякую за переклад. Вже дуже багато статтей перекладено з твоєю допомогою!
Якщо бажаєш стати редактором, напиши сюди. Зможеш перевіряти і мерджити ПР.

[2021-09-30 18:43] Vanchurick commented on #1
Prototype methods, objects without proto

[2021-09-30 18:49] MykolaSopiha commented on #1
Дякую! Так, можеш зробити мене редактором. Буду допомагати в міру своїх сил)

[2021-09-30 18:58] Vanchurick commented on #1
@tarasyyyk Глянь будь ласка комент вище. Бот не розпізнає назву статті. Можливо особливість в написанні `__proto__`. Подвійні нижні підкреслювання поміщають строку в <strong>.

[2021-09-30 19:59] tarasyyyk commented on #1
Саме так. Бот просто не розпізнає `__proto__`. Я вручну закріпив за тобою переклад статті. Дякую що повідомив.

[2021-09-30 21:42] MykolaSopiha commented on #1
Class basic syntax

[2021-10-01 12:43] tarasyyyk commented on #1
Привіт, @chizzzy. Є прогрес з перекладом?

[2021-10-02 18:07] MykolaSopiha commented on #1
Class inheritance

[2021-10-11 08:41] tarasyyyk opened #209 "Переклад: «Click»"
Зараз в Глосарії слово «**_click_**» перекладається як «_клац_». Цей переклад я додав самостійно, спираючись на [це джерело](https://onlinecorrector.com.ua/uk/%D0%BA%D0%BB%D0%B0%D1%86%D0%B0%D1%82%D0%B8-%D0%BA%D0%BB%D0%B0%D1%86%D0%BD%D1%83%D1%82%D0%B8/). В [Словотворі](https://slovotvir.org.ua/words/klik) теж вибраний варіант «клац».
Проте є незгодні з таким перекладом, тому я виставляю його на гол

[2021-10-11 08:42] tarasyyyk commented on #209
клац (клацнути)

[2021-11-01 12:01] #193 closed

[2021-11-01 12:15] #183 closed

[2021-11-01 12:17] #182 closed

[2021-11-01 17:18] Nordtonito commented on #1
Extending built-in classes

[2021-11-02 13:07] Nordtonito commented on #1
Prototype methods, objects without proto

[2021-11-02 14:54] Nordtonito commented on #1
Promise API

[2021-11-07 19:18] Vanchurick commented on #1
Private and protected properties and methods

[2021-11-10 14:03] Nordtonito commented on #1
Async/await

[2021-11-12 20:06] MykolaSopiha commented on #1
@tarasyyyk можу взяти 'Nullish coalescing operator', щоб добити JavaScript Fundamentals.

[2021-11-14 00:10] stas-dolgachov commented on #1
Закінчив переклад Variable scope, closure.  Подивіться, хто-небудь будь-ласка

[2021-11-14 00:10] stas-dolgachov commented on #1
Class checking: "instanceof"

[2021-11-14 12:54] tarasyyyk commented on #1
@MykolaSopiha було б чудово! Дякую

[2021-11-14 14:14] tarasyyyk commented on #1
Перевірив. Потрібно зробити декілька правок перед злиттям.

[2021-11-14 20:32] MykolaSopiha commented on #1
@gingano, @hordiienko-tatiana чи є успіхи з перекладом ваших статей? Якщо ні, то я можу взятися за них. Хотілось би закрити модуль Data types.

[2021-11-14 20:35] MykolaSopiha commented on #1
Mixins

[2021-11-15 14:45] okovalenko-godaddy commented on #1
в процесі перекладу

[2021-11-15 14:46] gingano commented on #1
в процесі перекладу

[2021-11-21 12:24] aaliyahlt commented on #1
завершила переклад Destructuring assignment, та чомусь не можу створити ПР, гітхаб видає помилку
![image](https://user-images.githubusercontent.com/6877234/142761623-8effe637-177e-4a8b-9296-d2b68430fca4.png)

[2021-11-21 12:43] hordiienko-tatiana commented on #1
переклад завершила, створила ПР [222](https://github.com/javascript-tutorial/uk.javascript.info/pull/222)

[2021-11-23 16:26] tarasyyyk commented on #1
@hordiienko-tatiana перевірив ПР. Потрібно внести декілька незначних правок перед злиттям.

Також всім нагадую про активне [голосування](https://github.com/javascript-tutorial/uk.javascript.info/issues/209).

[2021-11-23 16:30] Nordtonito commented on #1
Microtasks

[2021-11-23 18:49] Purusah commented on #1
Error handling, "try...catch"

[2021-11-29 10:28] Nordtonito commented on #1
Generators

[2021-11-30 07:48] hordiienko-tatiana commented on #1
Promises chaining

[2021-12-01 09:51] #209 closed

[2021-12-01 23:01] Nordtonito commented on #1
Async iteration and generators

[2021-12-05 21:54] stas-dolgachov commented on #1
Custom errors, extending Error

[2021-12-05 23:21] AntonBurchak commented on #1
@tarasyyyk
I want to take: Error handling with promises

[2021-12-06 08:45] stas-dolgachov commented on #1
Thanks for helping with translation! To take an article for translation, you just need to write a comment with its title only. After that GitHub bot would assign it to you. Please, refer to my comment above yours, you should do the same but for you article :)

[2021-12-06 15:23] AntonBurchak commented on #1
Error handling with promises

[2021-12-06 20:56] Purusah commented on #1
Export and Import

[2021-12-09 06:39] Regnised commented on #1
Modules, introduction

[2021-12-10 14:23] AntonBurchak commented on #1
Dynamic imports

[2021-12-13 19:33] AntonBurchak commented on #1
Currying

[2021-12-14 17:17] AntonBurchak commented on #8
@tarasyyyk

Друзі, є питання. Як транслейтити слово `"Каррирование"`? Наявні такі варіанти:
1) Карування
2) Каррінг

На [Вікі](https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%80%D1%80%D1%96%D0%BD%D0%B3_(%D1%96%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0)) використовують саме ці варіанти

Особисто мені пободається варіант `Каррінг`, тому що він більш співзвучний з англійською. Що дума

[2021-12-14 21:18] tarasyyyk commented on #8
@AntonBurchak надайте англійський варіант, будь ласка.
І взагалі в перекладах бажано користуватися англійським джерелом, а не російським.

[2021-12-14 21:45] AntonBurchak commented on #8
@tarasyyyk мабуть краще я дам лінку на статтю: https://javascript.info/currying-partials

Так, я намагаюся прибігати до російського джерела якомога менше, але є моменти коли необхідно перевірити себе. Currying на мою саме та тема, яку можна перекладати по-різному, тому я вирішив звернутися до колег :)

[2021-12-15 12:02] tarasyyyk commented on #8
Нехай буде `каррінг`. Додам цей варіант в Глосарій, але якщо будуть пропонувати інший варіант, то зроблю голосування і виберемо кращий.
Дякую за пропозицію!

[2021-12-15 14:47] AntonBurchak commented on #8
@tarasyyyk

Я пропоную повністю не відмолятися від варіанту `"Карування"`, тому що з наведених варіантів:

1) Провести карінг функції
2) Провести карування функції

особисто мені подобається другий. Моя пропозиція - залишити "Карінг" як назву цього підходу, та "Карування" як процесс.

Я особисто використовую обидва варіанти під час перекладу, і ви зможете подивитись як це виглядає при перегляді PR

[2021-12-15 15:17] tarasyyyk commented on #8
Краще використати лише `каррінг` в перекладі (з двома `р`).

[2021-12-18 22:10] Nordtonito commented on #1
Proxy and Reflect

[2021-12-20 09:50] gingano commented on #1
BigInt

[2021-12-20 13:51] gingano commented on #1
@tarasyyyk Можна братися за переклад з розділу browser, чи потрібно спочатку завершити переклад всіх статей з "The JavaScript language"

[2021-12-20 14:29] tarasyyyk commented on #1
Спочатку потрібно завершити переклад всіх статтей з "The JavaScript language".

[2021-12-20 14:53] gingano commented on #1
Reference Type

[2021-12-21 09:12] Regnised commented on #1
Eval: run a code string

[2021-12-26 18:40] MykolaSopiha commented on #1
Browser environment, specs

[2021-12-26 18:47] MykolaSopiha commented on #169
@tarasyyyk Привіт! Вибач, не звернув увагу, що грант на ментейнер права треба було апрувнути( Можеш, будь ласка, ще раз кинути, бо попередній реквест заекспайрився
![image](https://user-images.githubusercontent.com/20689588/147417299-6ebec65f-bd2c-42a6-a023-7860b18f966c.png)

[2021-12-26 20:09] MykolaSopiha commented on #1
DOM tree

[2021-12-27 12:39] tarasyyyk commented on #169
@MykolaSopiha надіслав ще раз запит.

[2021-12-27 12:57] tarasyyyk commented on #1
@Croftyland @Vanchurick @EugeneKosh, вітаю!
Є прогрес з перекладами?
Хочу закінчити переклад першої частини посібника, щоб ми могли його завантажити на сайт https://uk.javascript.info/.

[2021-12-28 08:33] Purusah commented on #1
ArrayBuffer, binary arrays

[2022-01-03 18:44] Nordtonito commented on #1
Searching: getElement*, querySelector*

[2022-01-04 11:43] tarasyyyk commented on #1
# Незавершені переклади з першої частини
Їх потрібно завершити, щоб мати змогу опублікувати переклад на сайті.

### Prototypes, inheritance
Native prototypes (@Croftyland)
### Classes
 Private and protected properties and methods (@Vanchurick)
### Error handling
 Custom errors, extending Error (@stas-dolgachov)
### Promises, async/await
 Introduction: callbacks (@EugeneKosh)
 Promises chaining (@h

[2022-01-05 12:37] Regnised commented on #1
FormData

[2022-01-05 18:01] Nordtonito commented on #1
Привіт! @tarasyyyk, якщо не буде інформації по цих перекладах, готовий підхопити одну з тем, щоб пришвидшити публікацію.

[2022-01-05 21:20] tarasyyyk commented on #1
Привіт. Вибирайте будь-який переклад.

[2022-01-06 11:42] stas-dolgachov commented on #1
Всім привіт! Свій переклад завершу сьогодні-завтра. Вибачаюсь за затримку, тому мій не беріть, будь-ласка :)

[2022-01-06 18:16] Nordtonito commented on #1
В такому випадку, гадаю, буде доцільно взяти переклад Introduction: callbacks - про нього найдовше не було новин.

[2022-01-09 17:35] MykolaSopiha commented on #1
Walking the DOM

[2022-01-09 17:38] MykolaSopiha commented on #1
Native prototypes

[2022-01-09 21:41] MykolaSopiha commented on #1
Private and protected properties and methods

[2022-01-10 00:18] MykolaSopiha commented on #1
Promises chaining

[2022-01-10 19:30] tarasyyyk commented on #1
@MykolaSopiha щиро дякую що докладаєте зусиль для завершення перекладу першої частини!

[2022-01-10 19:43] Purusah commented on #1
TextDecoder and TextEncoder

[2022-01-10 19:59] tarasyyyk commented on #1
Ось протягом майже 3 років я кожного тижня перевіряв запити на злиття, робив правки, виправляв конфлікти в файлах, мерджив зміни з оригінального репозиторію, ну і само собою перекладав статті у свій вільний час.
За цей час було докладено великих зусиль та часу багатох людей, які допомогли в перекладі цього посібника. За це я щиро вдячний всім, хто є причетним до перекладу!

Однак, мушу визнати що

[2022-01-10 22:28] stas-dolgachov commented on #1
@tarasyyyk Дякуємо тобі за твою роботу! Навіть не уявляю скільки зусиль ти доклав!

Я також готовий допомагати з перевіркою перекладів, якщо це буде потрібно :) Дуже хочу, щоб цей перклад побачив світ :)

[2022-01-10 22:31] stas-dolgachov commented on #1
Walking the DOM

[2022-01-11 07:37] Regnised commented on #1
Что-то еще нужно с 1 части перевести?

[2022-01-11 10:47] hordiienko-tatiana commented on #1
@MykolaSopiha хочу запитати стосовно статті Promises chaining, яка знаходиться у мене в перекладі. Нажаль через навантаженість не мала змоги завершити переклад раніше. Бачила ваш коментар з її назвою, чи почали вже переклад? Якщо ні, то зможу завершити переклад у найближчі дні.

[2022-01-11 10:57] MykolaSopiha commented on #1
@hordiienko-tatiana ок, не проблема. я переклав дуже мало, ще тільки-тільки почав. тоді закінчуй її, а я візьму собі іншу статтю.

[2022-01-11 16:26] stas-dolgachov commented on #1
Мені здається, що ні

[2022-01-11 17:24] MykolaSopiha commented on #1
@AntonBurchak , @gingano привіт! Скажіть, будь ласка, чи є прогрес з перекладами Currying та Reference Type ? Хотілось би закінчити 1 частину.

[2022-01-11 17:28] stas-dolgachov commented on #139
@iliakan привет, если я правильно понимаю, уже переведено больше половины учебника.

Подскажи, пожалуйста, что нужно сделать, чтобы перевод появился на сайте?

Также работа над оставшимися статья ведется достаточно активно, нужно ли будет как-то настраивать деплой дополнительно чтобы они появлялись на сайте по мере перевода?

@tarasyyyk

[2022-01-11 18:16] gingano commented on #1
Привіт, поки нема бо немає часу. Можете переасайнювати

[2022-01-11 18:18] MykolaSopiha commented on #1
@gingano ок, тоді я займусь Reference Type

[2022-01-11 18:48] stas-dolgachov commented on #139
Спасибо, сделаю завтра и отпишусь. @MykolaSopiha нужно будет, чтобы ты потом поревьювал, я с тобой спишусь отдельно ;)

[2022-01-11 19:56] tarasyyyk commented on #139
Я ще не пішов у відпуск, а робота вже кипить. Супер!
Якщо буде потрібна моя допомога, гукайте.

[2022-01-11 20:03] tarasyyyk commented on #1
Дякую за хороші слова!
Я не засікав, скільки часу витратив на все, але по відчуттях не менше тижня 😅

Зараз долучу тебе до репозиторію, щоб ти міг перевіряти і мерджити PR.
Прийде лист на пошту, там потрібно буде підтвердити участь.

[2022-01-11 20:09] tarasyyyk commented on #1
В [цьому коментарі](https://github.com/javascript-tutorial/uk.javascript.info/issues/1#issuecomment-1004739190) список всіх незавершених перекладів з першої частини. Періодично оновлюю його, як тільки завершують переклад, або змінюється перекладач.

[2022-01-12 08:38] Regnised commented on #1
Introduction to browser events

[2022-01-12 12:20] dubbha commented on #1
Event loop: microtasks and macrotasks

[2022-01-12 12:52] stas-dolgachov commented on #1
@MykolaSopiha @tarasyyyk Стосовно статті від @AntonBurchak , я його особисто спитав, він запевнив, що завершить її переклад на цьому тижні :)

[2022-01-12 20:08] Grenvals commented on #1
@tarasyyyk  Hi) I will take: Network requests > Fetch API

[2022-01-12 20:31] MykolaSopiha commented on #1
Node properties: type, tag and contents

[2022-01-12 20:41] Grenvals commented on #1
Fetch API

[2022-01-12 20:54] Purusah commented on #1
Blob

[2022-01-14 11:56] mhorova commented on #1
Hi all! I'll take "Attributes and properties"

[2022-01-14 21:22] tarasyyyk commented on #1
Просто напишіть назву статті англійською мовою, щоб бот закріпив за вами переклад.

[2022-01-16 13:13] AntonBurchak commented on #1
Drag'n'Drop with mouse events

[2022-01-16 13:14] AntonBurchak commented on #1
Також ми беремо не більше 1 статті в переклад одночасно.

[2022-01-16 22:36] malechaneit commented on #1
Modifying the document

[2022-01-16 22:49] Nordtonito commented on #1
Scripts: async, defer

[2022-01-17 10:56] tarasyyyk commented on #139
@stas-dolgachov вдалося перекласти фрази з сайту?

[2022-01-17 17:09] Nordtonito commented on #1
@tarasyyyk це те, про що я думаю - публікація підручника українською стала можливою? 🙂

[2022-01-17 17:48] iliakan commented on #1
Так

[2022-01-17 17:55] stas-dolgachov commented on #139
@tarasyyyk вибачаюсь за затримку, багато роботи було останнім часом.
закінчу переклад сьогодні через кілька годин. Ще раз вибачаюсь

[2022-01-17 20:35] MykolaSopiha commented on #1
Attributes and properties

[2022-01-18 09:52] OlhaBrozhenets commented on #1
Event delegation

[2022-01-18 12:08] stas-dolgachov commented on #139
@tarasyyyk @MykolaSopiha я закінчив перекладати фрази сайту. Для зручності я додав ці файли у Гіт в окремому репозиторії. Це зроблено для того, щоб ви могли порівняти із тим, що було. Після вашого ревью, я завантажу архів сюди. Додав вас у репозиторій, щоб ви могли робити зміни.

Ось мій комміт у якому весь переклад:
https://github.com/stas-dolgachov/uk-javascript-locale/commit/6785ba961bcaa0ec1ef

[2022-01-18 19:21] AdriandeCita commented on #1
Styles and classes

[2022-01-19 10:22] OlhaBrozhenets commented on #1
Browser default actions

[2022-01-19 11:18] tarasyyyk commented on #1
Перекладено **100 статтей**! Чудово! Дякую всім причетним до перекладу!
![image](https://user-images.githubusercontent.com/20100011/150119856-1e8ba760-f76c-4102-b41d-993e6e64248f.png)

[2022-01-19 20:35] MykolaSopiha commented on #1
Element size and scrolling

[2022-01-20 08:07] OlhaBrozhenets commented on #1
Dispatching custom events

[2022-01-20 10:41] stas-dolgachov commented on #139
@iliakan привет, вот исправленная версия перевода фраз с сайта.
Также я переименовал все ua.yml => uk.yml

[locales.zip](https://github.com/javascript-tutorial/uk.javascript.info/files/7904424/locales.zip)

[2022-01-20 11:42] iliakan commented on #139
Выложил на прод.

[2022-01-20 11:47] tarasyyyk commented on #139
Как быстро. Спасибо!

[2022-01-20 13:30] dolgachio opened #267 "Баги на проде"
Сегодня версия учебника стала доступна на украинском, с чем я всех нас поздравляю!
В тоже время, т.к. перевод только только появился, возможно баги в его работе.
Все находки предалгаю писать сюда, чтобы оперативно исправлять.

По возможности пишите или на русском, т.к. с нами @iliakan , и насколько я знаю, он украинского не знает ;)

[2022-01-20 13:32] iliakan commented on #139
Заголовок переведите, плиз:

![image](https://user-images.githubusercontent.com/349336/150348398-d6e7f7e5-dab5-4887-9807-810176559976.png)

[2022-01-20 13:32] OlhaBrozhenets commented on #1
Mouse events

[2022-01-20 13:32] iliakan commented on #139
(деплой из учебника после коммита автоматический)

[2022-01-20 13:33] stas-dolgachov commented on #267
1. В шапке сайта в меню выбора языка
`Український` нужно изменить на `Українська`
2. Проблемы с открытием iframes  на страницах:
https://uk.javascript.info/testing-mocha
https://uk.javascript.info/event-delegation
https://uk.javascript.info/call-apply-decorators

[2022-01-20 13:35] stas-dolgachov commented on #139
Сейчас сделаю, спасибо @iliakan

[2022-01-20 13:36] iliakan commented on #267
@stas-dolgachov

Дякую.

Я стільки разів був в Україні, що український більш-менш розумію.

[2022-01-20 15:11] tarasyyyk commented on #139
Заголовки перекладено (завдяки @stas-dolgachov). Всі помилки на сайті і неточності в перекладі будемо записувати в [цьому обговорені](https://github.com/javascript-tutorial/uk.javascript.info/issues/267).

[2022-01-20 15:11] #139 closed

[2022-01-20 17:06] Purusah commented on #1
File and FileReader

[2022-01-20 19:06] Nordtonito commented on #1
Fetch: Download progress

[2022-01-20 20:13] OlhaBrozhenets commented on #1
Pointer events

[2022-01-21 18:01] Mouu9 commented on #267
![image](https://user-images.githubusercontent.com/97622707/150576988-316e3c6b-be24-40e1-b061-fc04a737884d.png)
Пропоную замість кнопки "показати" зробити "відтворити", як написано нижче. Зараз не знаю, де це робиться

[2022-01-21 19:10] tarasyyyk commented on #267
@Mouu9 Переклад до самого сайту потрібно вносити в спеціальний файл, який не знаходиться в цьому репозиторії. В [цьому обговорені](https://github.com/javascript-tutorial/uk.javascript.info/issues/139#issuecomment-1015348936) @stas-dolgachov перекладав рядки для сайту. Потрібно вносити зміни в його файл і попросити Іллю залити зміни на сайт.
А переклад цієї кнопки краще змінити на «**виконати код**

[2022-01-21 19:13] iliakan commented on #267
вообще это HTML, вы уверены что именно виконати?

[2022-01-21 19:15] iliakan commented on #267
как вариант ещё: показати результат

[2022-01-21 19:37] jeneg commented on #1
Window sizes and scrolling

[2022-01-21 20:40] Mouu9 commented on #267
Дякую. Англійською там show, то мабуть "Відтворити" з тексту замінити?

[2022-01-21 20:57] tarasyyyk opened #281 "Translation review"
Here is the list of all articles to review.

By "review" means somebody has read carefully article and approved there isn't issues.

-----------

### An introduction

* [x] [An Introduction to JavaScript](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/01-getting-started/1-intro)
* [x] [Manuals and specifications](https://github.com/javascript-tutorial/uk.javascript.info

[2022-01-23 10:24] Nordtonito commented on #267
Помітив ось таке повідомлення в нещодавно перекладеній статті:
![Screenshot 2022-01-23 at 12 21 48](https://user-images.githubusercontent.com/43732023/150674139-08395765-8fbe-4d13-a7c3-4c25924cc3dc.png)

[2022-01-24 07:26] jeneg commented on #1
Coordinates

[2022-01-24 19:18] OlhaBrozhenets commented on #1
Keyboard: keydown and keyup

[2022-01-24 23:08] hiddenroadss commented on #1
Bubbling and capturing

[2022-01-25 13:24] Regnised commented on #1
Moving the mouse: mouseover/out, mouseenter/leave

[2022-01-25 16:49] OlhaBrozhenets commented on #1
Scrolling

[2022-01-25 22:01] Nordtonito commented on #1
Fetch: Abort

[2022-01-27 10:39] OlhaBrozhenets commented on #1
Events: change, input, cut, copy, paste

[2022-01-27 12:06] OlhaBrozhenets commented on #1
Forms: event and method submit

[2022-01-27 23:18] malechaneit commented on #1
Focusing: focus/blur

[2022-01-28 08:15] OlhaBrozhenets commented on #1
Page: DOMContentLoaded, load, beforeunload, unload

[2022-01-28 08:34] AdriandeCita commented on #1
Mutation observer

[2022-01-29 20:06] Purusah commented on #1
URL objects

[2022-01-31 10:01] OlhaBrozhenets commented on #1
Resource loading: onload and onerror

[2022-01-31 13:56] OlhaBrozhenets commented on #1
Popups and window methods

[2022-02-01 14:42] jeneg commented on #1
Form properties and methods

[2022-02-01 15:03] Nordtonito commented on #1
Fetch: Cross-Origin Requests

[2022-02-03 17:52] jeneg commented on #1
XMLHttpRequest

[2022-02-08 07:03] OlhaBrozhenets commented on #1
Cross-window communication

[2022-02-08 13:45] jeneg commented on #1
Resumable file upload

[2022-02-08 17:56] jeneg commented on #1
Long polling

[2022-02-10 13:48] jeneg commented on #1
WebSocket

[2022-02-10 17:31] dhammma commented on #1
Patterns and flags

[2022-03-09 12:31] malechaneit commented on #1
Cookies, document.cookie

[2022-03-20 09:15] AntonBurchak commented on #1
LocalStorage, sessionStorage

[2022-04-20 07:30] stas-dolgachov commented on #1
Selection and Range

[2022-04-25 07:45] yasnitskyiy opened #330 "Не перекладене слово "узнаємо" мало б бути дізнаємось."
https://uk.javascript.info/comparison

В цьому розділі ми вивчимо різні типи порівнянь, узнаємо, як JavaScript їх виконує, та розглянемо важливі особливості.

[2022-04-25 21:00] Aloscha95 opened #331 "Проблема з мовою"
Придбав книгу, проте третя книга не на українській мові, хоча декілька відсотків тексту на українській. Як би виправити цей нюанс?

[2022-04-26 20:07] tarasyyyk commented on #331
Доброго дня. Я уточню це питання.
Дякую що описали проблему!

[2022-04-26 20:12] tarasyyyk commented on #267
Привет, @iliakan !
Как узнать когда было последнее обновление перевода [для книги в](https://uk.javascript.info/ebook) `epub/pdf` формате?
[Есть проблема](https://github.com/javascript-tutorial/uk.javascript.info/issues/331) с тем, что не весь перевод на украинский доступен в оффлайн книге.

Я пробовал скачать демо фрагмент книги, то там пишет что «Построено 29 января 2022 р.»

[2022-04-27 12:22] iliakan commented on #267
Посмотрю пересборку и отпишусь, спасибо.

[2022-04-29 07:07] stas-dolgachov commented on #330
@yasnitskyiy дякую, що звернули на це увагу. Не хочете зробити pull request з виправленнями? :)

[2022-04-29 14:18] tarasyyyk commented on #267
@iliakan спасибо! Жду ответ

[2022-04-29 18:39] Aloscha95 commented on #331
Доброго вечора, буду вдячний, ще в книгах не відсилає на посилання щодо відповідей на завдання. Буду вдячний за вирішення цих нюансів. Дякую!

26 квітня 2022, 23:07:22, від "Taras" < ***@***.*** >:

Доброго дня. Я уточню це питання.
Дякую що описали проблему!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@*

[2022-05-02 16:42] stas-dolgachov commented on #330
FYI я виправлю це у наступному своєму перекладі цього тижня ;)

[2022-05-02 16:54] yasnitskyiy commented on #330
Круто)

пн, 2 трав. 2022 р. о 19:42 Stanislav ***@***.***> пише:

[2022-05-02 17:12] stas-dolgachov opened #332 "Перевірити чи всі maintainers доданы до списку"
Нещодавно до нас приєдналось досить багато людей, тому я хочу перевірити чи нікого ми не забули і додали усіх до загального спискуу розділі "Подяка"

[2022-05-03 14:29] dolgachio opened #333 "Розглянути можливість додати LanguageTool"

[2022-05-04 07:32] yugako commented on #1
Hello. I will take `Web components / From the orbital height`

[2022-05-05 11:16] stas-dolgachov commented on #1
@yugako great, thank you! To assign it to yourself, you require to write a comment with the title of the article. It must be the title only, without any other words. The comment for your article must be:

`From the orbital height`

Could you add a comment with such content?

[2022-05-05 11:25] yugako commented on #1
From the orbital height

[2022-05-08 01:14] iliakan commented on #331
перевірте зараз, будь ласка?

[2022-05-08 07:28] tarasyyyk commented on #331
Я спробував згенерувати демо-зразок, то в ньому пише, що згенеровано «29 січня 2022 р» (як в pdf, так і в epub форматах).

Можливо ще @Aloscha95 перевірить повну версію підручника.

[2022-05-08 12:46] Aloscha95 commented on #331
В демо- версії все чітко, а от в скачаному підручнику -ні. І гіперсилки не працюють, які стосуються відповідей на завдання.

8 травня 2022, 10:28:41, від "Taras" < ***@***.*** >:

Я спробував згенерувати демо-зразок, то в ньому пише, що згенеровано «29 січня 2022 р» (як в pdf, так і в epub форматах).

Можливо ще @Aloscha95 перевірить повну версію підручника.

—
Reply to this email directly, view i

[2022-05-08 12:47] Aloscha95 commented on #331
Все залишилось по-старому.

8 травня 2022, 04:14:28, від "Ilya Kantor" < ***@***.*** >:

перевірте зараз, будь ласка?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-05-10 03:31] iliakan commented on #331
Була помилка у перекладі, через яку авто-деплою не проходив. Начебто поправив. А зараз?

[2022-05-16 18:19] tarasyyyk commented on #331
@Aloscha95 можете перевірити, чи поправився переклад?

[2022-05-16 21:24] Aloscha95 commented on #331
так, з перекладом все добре. ссилки не працюють на відповіді щодо завдань.

16 травня 2022, 21:19:41, від "Taras" ***@***.***>:

@Aloscha95 можете перевірити, чи поправився переклад?
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-05-23 05:00] astropsy999 commented on #1
IndexedDB

[2022-06-01 02:41] astropsy999 commented on #169
Доброго дня, чи можу я допомогти з перевіркою перекладів? Як це зробити? Мій pull request перекладу статті indexedDB  теж потребує перевірки, чи можливо прискорити? 🤔І ще питання, чи можу я взяти наступну статтю для перекладу, якщо попередня не перевірена? Дякую

[2022-06-01 12:52] tarasyyyk commented on #169
@astropsy999, доброго дня. Призначив вашій обліковці деякі додаткові права до репозиторію. Підтвердіть запит (на пошті) і перевірте, чи можете коментувати інші запити на злиття (PR). Якщо можете коментувати, то ось як можна виправляти переклад:
![how-to-suggest-fixes](https://user-images.githubusercontent.com/20100011/171407764-596578ea-fd49-430c-b8b3-224cada013a2.png)
Проте краще буде, якщо ви ві

[2022-06-01 12:56] tarasyyyk commented on #169
Надалі, якщо хтось захоче взяти участь в перевірці вже перекладений статтей, [пишіть в це обговорення](https://github.com/javascript-tutorial/uk.javascript.info/issues/281).

[2022-06-01 12:56] #169 closed

[2022-06-02 05:40] astropsy999 commented on #1
The clickjacking attack

[2022-06-03 14:39] kas1qqqq opened #341 "Error"
Знайдіть зміння і перейменуйте в змінна. Бо там помилка є. Дякую.

[2022-06-05 05:24] astropsy999 commented on #1
Server Sent Events

[2022-06-06 19:53] kolumb commented on #1
Bezier curve

[2022-06-08 01:39] astropsy999 commented on #1
CSS-animations

[2022-06-10 14:06] Lelihelija commented on #1
Template element

[2022-06-27 09:51] #341 closed

[2022-06-28 09:55] igor-go1oborodko commented on #1
Shadow DOM

[2022-06-28 10:36] Lelihelija commented on #1
JavaScript animations

[2022-06-28 14:15] kolumb commented on #1
Shadow DOM slots, composition

[2022-06-28 14:20] farkon00 commented on #281
Reviewed [An Introduction to JavaScript](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/1-js/01-getting-started/1-intro) and fixed mistakes, that was found in #350.

[2022-07-12 09:05] #332 closed

[2022-07-12 09:14] stas-dolgachov opened #370 "Methods of RegExp and String"

[2022-07-22 19:46] AntonBurchak commented on #1
Character classes

[2022-07-24 08:31] lanachayka commented on #1
Unicode: flag "u" and class \p{...}

[2022-07-24 19:20] git-antonyuk commented on #1
Anchors: string start ^ and end $

[2022-07-24 19:21] git-antonyuk commented on #1
Multiline mode of anchors ^ $, flag "m"

[2022-07-31 10:25] git-antonyuk commented on #1
Event loop: microtasks and macrotasks

[2022-08-03 13:19] stas-dolgachov opened #378 "Замінити символ який використовується як апостроф"
Судячи з всього, краще було б використовувати
`'` - https://unicode-table.com/en/0027/
А не
`’` - https://unicode-table.com/en/2019/

[2022-08-10 14:46] SamGreenberg commented on #1
Shadow DOM styling

[2022-08-15 19:12] AntonBurchak commented on #1
Shadow DOM and events

[2022-08-24 12:30] AntonBurchak commented on #1
Escaping, special characters

[2022-09-07 08:24] Scor1ch opened #384 "Завдання з підручника."
Доброго дня, купив підручник на сайті і почав навчання, зіткнувся за наступною проблемою, коли я переходжу за посиланням із підручника із завданням:
![MORJern](https://user-images.githubusercontent.com/103894843/188828519-c9464fcf-feda-49ca-8b3e-368ae58b6088.png)
Ну і результат зрозумілий:
![HaaF2Rg](https://user-images.githubusercontent.com/103894843/188828675-4fcaebb2-4185-40cc-8c89-b27a98f91ce1

[2022-09-17 11:14] vladiuskor commented on #1
Alternation (OR) |

[2022-10-11 17:22] vitaliimalynka commented on #1
Word boundary: \b

[2022-10-12 11:05] stas-dolgachov commented on #384
Вибачти за затримку. @iliakan що скажеш? Можеш допомогти?

[2022-10-12 11:14] iliakan commented on #384
Можливо, помилка? Чи можна посилання на сторінку?

[2022-10-12 11:16] Scor1ch commented on #384
Так це я купив книжку, і відкрив файл з архіву

[2022-10-12 11:24] Scor1ch commented on #384
А як відновити лінк до завантаження? бо після оплати прийшов і я, мабуть, його видалив після завантаження.

[2022-10-12 11:25] Scor1ch commented on #384
А все, знайшов, спробую і відпишусь згодом.

[2022-11-04 13:19] yokoole opened #414 ""Створіть обговорення" з малої літери"
![image](https://user-images.githubusercontent.com/116198926/199981964-ed0b620b-413f-4030-bc9e-b3e09197738a.png)

[2022-11-24 11:19] MrsMelnychenko commented on #1
Quantifiers +, *, ? and {n}

[2022-11-24 13:32] MrsMelnychenko commented on #1
Sets and ranges [...]

[2022-11-24 22:57] SamGreenberg commented on #1
Capturing groups

[2022-11-26 20:01] stas-dolgachov commented on #281
Перевірив Manuals and specifications, Code editors, Developer console
Фікси тут #422

[2022-11-26 20:25] dolgachio opened #423 "Давайте завершимо переклад до кінця жовтня 2023 року 🙃 (тепер вже точно-точно)"
Всім привіт!

**Не дивлячись ні на що, в мене є стійке бажання завершити переклад і вичітку підручника до кінця квітня 2023 року.**
Я нарешті знайшов достатньо часу, щоб попрацювати з перекладом і нарешти довести його до 100%.

@alexgalkin  @so-tati бачив ваші повідомлення, якщо з'являться вільні статті, я напишу.

[2022-11-26 20:26] stas-dolgachov commented on #423
[Selection and Range](https://github.com/javascript-tutorial/uk.javascript.info/blob/master/2-ui/99-ui-misc/02-selection-range) (@stas-dolgachov) Я завершу свою статтю протягом наступного тижня.

[2022-11-26 22:49] SamGreenberg commented on #423
@stas-dolgachov Вечір добрий!
Стаття, яка на мені довго висіла, зараз серед пулів
Якщо по ній є корекції, будь ласка, залиште рев'ю, я фіксну якомога швидше
Щодо Capturing groups, текст тільки-но взятий в роботу, в терміни вкладусь

[2022-11-27 18:18] stas-dolgachov commented on #423
@SamGreenberg дякую, за відповідь! Вибачте, що вас додав ваші статті, зробив це помилково.
Дякую, за ваш внесок в переклад! Усі переклади, які висять в пуллах я перевірю завтра і обов'язково відпишусь.

[2022-11-27 20:43] vitaliimalynka commented on #1
Backreferences in pattern: \N and \k<name>